body {
    background: #ddd;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 960px;
    height: 100%;
    margin: 10px auto 30px auto;
    text-align: left;
    background: white;
    padding: 10px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: table;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

header {
  width: 915px;
  height: 37px;
  background-color: #B0D6D4;
  padding: 20px;
  margin-bottom: 20px;
}

header h1 {
  margin-top: 0;
  font-size: 35px;
  float:left;
}

header p {
  clear:right;
  float:right;
  font-size:19px;
  font-weight: 700;
  padding: 0;
  margin: -4px 0 7px 0;
}

#chat-box {
  float:left;
  width: 655px;
  min-height:10px;
  border: 1px solid #999;
  border-radius:10px;
  margin:0 auto;
}

.chat-container {
  width: 600px;
  overflow: auto;
  background-color: #B0D6D4;
  border: 1px solid #999;
  margin:10px auto 10px auto;
  padding: 20px 10px 20px 10px;
}
.chat-container p {
  margin: 0;
  padding: 5px 0 5px 0;
}
.chat-user {
  font-size:13px;
  font-color: #cc0000;
  font-weight: 600;
}

.chat-string {
  font-size:16px;
  letter-spacing: .4px;
  font-weight: 400;
}

.friend {
  background-color: red !important;
}

#enter-chat {
  width:480px;
  height: 50px;
  margin: 0 auto 20px auto;
  float:left;
}

#enter-chat input[type=text] {
  height: 30px;
  width: 400px;
  border: 1px solid #888;
  padding: 1px 5px 1px 5px;
}
#enter-chat input[type=text]:focus {
  outline:none;
  border-color:#000;
  box-shadow: inset 2px 2px 4px #777;
}

#enter-chat input[type=submit] {
  border: 1px solid #000;
  background-color: #ccc;
  border-radius:4px;
  color: #000;
  font-size:16px;
  font-weight: 600;
  height: 33px;
  width: 60px;
}

#enter-chat input[type=submit]:focus {
  outline:none;
}
#friendList, #roomList {
  clear:right;
  float:right;
  width:250px;
  height:200px;
  border:1px solid #888;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.sidebar-header {
  width:100%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #777;
  margin-bottom:10px;
}

#roomList form {
  height: 20px;
  bottom:24px;
  margin-left:9px;
  margin-top:3px;
}

#roomList input[type=text] {
  border: 1px solid #000;
  width: 170px;
}

.sidebar-list {
  width:85%;
  height: 100px;
  margin: 0 auto;
  border: 1px solid #aaa;
  padding:10px;
}

.sidebar-list a {
  text-decoration: none;
  font-size:17px;
}

.sidebar-list p {
  padding: 0;
  margin: 0
}

 #friendList .sidebar-list {
  height:120px;
 }
